.petopia-footer {
}

.benefit-item p {
    font-size: 12px;
    line-height: 1.4;
}

/* PAYMENT */
.payment-table td {
    width: 50%;
    padding: 20px 40px;
}

.payment-table h3 {
    margin-bottom: 10px;
    font-size: 14px;
}

.icon-box {
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    background: #fff;
}

.icon-box img {
    max-height: 40px;
    width: auto;
}

/* BOTTOM */
.footer-bottom-table {
    border: 1px solid #f58220;
    margin: 0 12px 12px;
}

.footer-bottom-table td {
    padding: 14px 24px;
    vertical-align: middle;
}

.company-info {
    line-height: 1.5;
}

.newsletter-cell {
    width: 420px;
}

.newsletter-cell p {
    margin-bottom: 10px;
}

.newsletter-form {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

.newsletter-form input {
    flex: 1;
    border: none;
    padding: 12px 14px;
    outline: none;
}

.newsletter-form button {
    border: none;
    background: #f7931e;
    color: white;
    padding: 0 28px;
    font-weight: 700;
}